#main-ct{
    margin-top: 60px;
}
#main-ct .bx-wrapper{
    margin-bottom: 10px;
}
.change-link{
    margin-bottom: 10px;
    position: relative;
    top: -10px;
}
.ticker-news a{
    color: #be2819;
    font-size: 18px;
}
.news-title{
    font-size: 16px;
}
.heading2.events{
    border-bottom: none;
}
.bxslider-2 .news-title{
    font-size: 15px;
    margin-top: 0;
}
.bxslider-2 .event-detail{
  font-size: 12px;
  color: blue;
}
.bxslider-2-ct {
    border: 1px solid #e5e5e5;
    padding-top: 15px;
}
.bxslider-2-ct .bx-wrapper{
    margin-bottom: 27px;
}
.bxslider-2-ct .bx-default-pager {
    top: -95px;
    right: 0;
    bottom: inherit;
    width: inherit;
}

.bxslider-2-ct .bx-viewport {
    margin-top: 15px;
}
.bxslider-2-ct .bx-prev{
    top: -56px !important;
    left: 430px !important;
}
.bxslider-2-ct .bx-next{
    top: -56px !important;
    right: 20px !important;
}

.bxslider-2 {
    padding-left: 15px;
}
.bxslider-2 .date{
    background-color: #D63D03;
    color: white;
    padding: 10px 10px 10px 30px;
    width: 150px;
    height: 40px;
    position: absolute;
    right: 0;
}
.bxslider-2 .white-triangle {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid white;
    position: absolute;
    top: 0;
    left: 0;
}



/*slider 3 section*/

.bxslider-3-ct .bx-default-pager, .bxslider-4-ct .bx-default-pager {
    top: -70px;
    right: 0;
    bottom: inherit;
    width: inherit;
}
.bxslider-2 li, .bxslider-3 li,.bxslider-4 li, .big-news{
    cursor: pointer;
}
/*weather tile section*/

.weather-tile {
    background-color: #009DEE;
    color: white;
    padding: 10px;
    height: 169px;
}

.big-news .news-text-ct{
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    margin: 14px;
    font-size: 20px;
    
}
.big-news .news-title{
    color: white;
}
.big-news .news-heading{
    background-color: black;
    opacity: 0.7;
}

.team .member-name{
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.team .member-img{
    border-radius: 50%;
    width: 125px;
    height: 125px;
    margin: 0 auto;
}
.member-desig{
    text-decoration: none;
    color: black;
    font-size: 10px;
}
.abh-special-ct{
    list-style: none;
    padding: 10px 0;
    background: #fffee8;
}
.abh-special-ct .abh-special{
    padding: 10px;
    height: 95px;
}
.abh-special-ct .news-title{
    margin-top: 0;
}
.gudgudi-ct{
    list-style: none;
    padding-left: 0;
    
}
.gudgudi-ct .gudgudi{
    border: 1px solid black;
    border-radius: 10px;
}


/*  */
@media only screen and (min-width: 767px){
    
}

@media only screen and (max-width: 1200px) {
    .events-ct{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .bxslider-2-ct .bx-default-pager {
        top: -57px;
    }
    .bxslider-2 .date{
        width: 50px;
        transition: width 0.3s;
    }
    .bxslider-2 .date:hover{
        width: 140px;
    }
    .team .member{
        height: 200px;
    }
    .team .member-img{
        height: 150px;
    }
    #newsDescModal .modal-body img{
    	width: 100%;
    	margin: 0;
    }
   .bxslider-2 .event-name{
       font-size: 15px;
   }
   .bxslider-2-ct .bx-prev{
       left: 230px !important;
   }
}